{
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "endOfLine": "lf",
  "singleQuote": false,
  "trailingComma": "none",
  "svelteSortOrder" : "options-styles-scripts-markup",
  "svelteStrictMode": true
}
