@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
// https://coolors.co/000814-001d3d-003566-ffc300-ffd60a
@use '@material/theme/index' as theme with (
  $primary: #001d3d,
  $secondary: color.scale(#ffc300, $whiteness: -10%),
  $surface: #003566,
  $on-surface: #fff,
  $background: #000814,
  $error: color-palette.$red-700
);

html,
body {
  background-color: theme.$background;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}

a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
